.next
node_modules
dist
build
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.turbo
.git
.gitignore
*.log
*.tsbuildinfo
Dockerfile
docker-compose.yml
build.log
build2.log
build3.log
